extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jackson G. Hagin

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | A proactive, hard-working and charismatic developer with many interests, based out of Olympia, WA.
            | Currently enrolled in Team Treehouse's Full Stack JavaScript TechDegree.
            | On pace to finish the TechDegree by March 2021, all while achieving an 'Exceeds Expecations' on all of my projects.
            | Genuinely interested in working out of Seattle as a Junior Developer or Intern.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Vanilla JavaScript
          li Express
          li Node
          li API Requests
          li Error Handling
          li Communication
          li Collaboration
          li Team-Oriented Mindset
        h6 Contact Info

        //- Add your own contact info
        ul
          li 360-481-6317
          li jacksonhagin@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn (To Be Added)
        a.button.expanded(href='https://github.com/MaperPario') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  