extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jackson G. Hagin

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | A proactive, hard-working and charismatic developer with many interests, based out of Olympia, WA.
            | Graduated from and received Team Treehouse's Full Stack JavaScript TechDegree (May 1st, 2021 Completion Date)
            | along with achieving an 'Exceeds Expecations' grade on 8 out of 10 TechDegree Projects.
            br
            br
            | I am seeking employment opportunities where I can learn quickly, 
            | gain experience, and provide value to an organization who invests in my growth as a software engineer.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Vanilla JavaScript
          li Express
          li Node
          li API Requests
          li React
          li SQL
          li Error Handling
          li Communication
          li Collaboration
          li Team-Oriented Mindset
        h6 Contact Info

        ul
          li 360-481-6317
          li jacksonhagin@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jackson-hagin/') LinkedIn
        a.button.expanded(href='https://github.com/MaperPario', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  